header {
    background-color: #6A1B9A;
}

body {
    background-color: #9f5ddd;
    z-index: -1;
    font-size: 1em;
    color: black;
}

h1{
    font-size: 400%;
    text-align: center;
    padding-bottom: 0.5%;
    margin: 0;
    color: black;
}
h3{
    font-size: 200%;
    text-align: center;
    padding-bottom: 1%;
    margin: 0;
    color: black;
}

.vorhandenbox {
    width: 33.5%;
    height: 81.7%;
    border: 10px solid #4A148C;
    background-image: radial-gradient(
      circle closest-side at center,
    #5E35B1,
      #5E35B1,
      #5E35B1
    );
    position: fixed;
    top: 16.3%;
    bottom: 0%;
    left: 65%;
    right: 0;
    z-index: 0;
}

.vorhanden {
    text-align: center;
    position: absolute;
    left: 33%;
    top: 5%;
    bottom: 1%;
    width: 35%;
    height: 100%;   
}

.vorhanden-liste {
    border-style: solid;
    border-color: #311B92;
    border-width: 50%;
    padding:6%;
    background-color: blueviolet;
    margin: 3%;
    font-size: 130%;
}
 

#vorhandentitel {
    color: #29bb30;
    transform: translate(-15%, -40%);
    font-size: 300%;
    margin: 10%;
}

#bestellen {
    transform: translate(-25%,25%);
    width: 200%;
    height: 10%;
    background-color: green;
    font-size: 200%;
}

#bestellen:hover {
    background-color: #02a002;
}


.bestellungen {
    position: absolute;
    left: 10%;
    top: 22%;
    height: 80%;
    width: 65%;
}

.notiz {
    width: 30%;
    height: 70%;
    margin: 2%;
    border: 10px solid #392de4;
    background-image: radial-gradient(
      circle closest-side at center,
    #4666f3,
      #4666f3,
      #4666f3
    );
    display: inline-block;
    transform: translate(0,0);
    transition: transform 0.5s ease;
}

.notiz:hover {
    transform: translate(-2%,-2%);
    border-color: #2d48e4;
    background-image: radial-gradient(
      circle closest-side at center,
    #467df3,
      #467df3,
      #467df3
    );
}

.notizliste{
    text-align: center;
    position: absolute;
    left: 15%;
    top: 0%;
    bottom: 0%;
    width: 70%;
    height: 100%; 
}

#notiztitel{
    color: #29bb30;
    
    font-size: 200%;
    margin: 0%;
    margin-bottom: 0%;
    padding-bottom: 0%;
}

.notiztext{
    border-style: solid;
    border-color: #4603ff;
    border-width: 70%;
    padding:3%;
    padding-right: 10%;
    background-color: rgb(20, 190, 233);
    margin: 1%;
    font-size: 130%;
}

.abschließen {
    width: 70%;
    height: 10%;
    background-color: green;
    font-size: 150%;
}

.abschließen:hover{
    background-color: #02a002;
}

.löschen{
    position: absolute;
    left: 100%;
    top: 0%;
    width: 10%;
    height: 6%;
    background-color: #c00000;
    font-size: 150%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
}

.löschen:hover {
    width: 15%;
    height: 10%;
    background-color: red;
    font-size: 200%;
}

#linkküche {
    position: absolute;
    left: 22%;
    top: 16.2%;
    width: 20%;
    height: 5%;
    background-color: green;
    font-size: 150%;
}

#linkküche:hover {
    background-color: #02a002;
}

.box {
    width: 40%;
    height: 80%;
    border: 10px solid #4A148C;
    background-image: radial-gradient(
      circle closest-side at center,
    #5E35B1,
      #5E35B1,
      #5E35B1
    );
    position: fixed;
    top: 16.3%;
    bottom: 0;
    left: 30%;
    right: 0;
    z-index: 0;
   
}

.auswahl {
    text-align: center;
    position: absolute;
    left: 0%;
    top: 1%;
    width: 100%;
    height: 100%; 
    
}

.auswahl-liste {
    border-style: solid;
    border-color: #311B92;
    border-width: 50%;
    padding:3%;
    background-color: blueviolet;
    margin: 1%;
    
    font-size: 130%;
    display: inline-block;
}
 

#auswahltitel {
    color: #29bb30;
 
    font-size: 300%;
    margin: 2%;
}

.aufnehmen {
    width: 20%;
    height: 2%;
    background-color: #3c1363;
    color: white;
    transition: height 0.5s ease;
}

.aufnehmen:hover {
    height: 4%;
    
}

#save {
    width: 60%;
    background-color: green;
    height: 10%;
    margin-top: 2%;
    font-size: 200%;
}
#save:hover {
    background-color: #02a002;
}
#cancle {
    background-color: #b90101;
    width: 10%;
    font-size: 150%;
    position: absolute;
    left: 20%;
    top: 16.3%;
}
#cancle:hover {
    background-color: #ff0101;
}

.box2 {
    width: 33.5%;
    height: 81.7%;
    border: 10px solid #4A148C;
    background-image: radial-gradient(
      circle closest-side at center,
    #5E35B1,
      #5E35B1,
      #5E35B1
    );
    position: fixed;
    top: 16.3%;
    bottom: 0;
    left: 65%;
    right: 0;
    z-index: 0;
}

#küche {
    text-align: center;
    position: absolute;
    left: 0%;
    top: 1%;
    width: 100%;
    height: 100%;  
}

.küche-liste {
    border-style: solid;
    border-color: #311B92;
    border-width: 50%;
    padding:3%;
    background-color: blueviolet;
    margin: 3.5%;
    font-size: 150%;
    display: inline-block;
}
 

#küchetitel {
    color: #29bb30;
    
    font-size: 300%;
    margin: 2%;
    
}

#zubereitungbox {
    width: 50%;
    height: 81.7%;
  
    position: absolute;
    top: 23%;
    bottom: 0;
    left: 4%;
    right: 0;
    z-index: -1;
}

.cluster{
    transform: translate(0,0);
    transition: transform 0.5s ease;
}
.cluster:hover{
    transform: translate(2%,-2%);
}

.zubereitung-liste {
    background-color: #18ecec;
    border-style: solid;
    border-color: #311B92;
    border-width: 50%;
    padding:3%;
    margin-top: 15%;
    margin-bottom: 10%;
    font-size: 200%;
    display: inline-block;
    z-index: 0;
    color: black;
}

.zubereitung-zahl{
    background-color: #18ecec;
    border-style: solid;
    border-color: #311B92;
    border-width: 50%;
    padding:3%;
    margin-top: 15%;
    margin-bottom: 10%;
    font-size: 200%;
    width: 10%;
    display: inline-block;
    z-index: 0;
    color: black;
}

.zubereitung-timer {
    background-color: #2b37e7fa;
    border-style: solid;
    border-color: #311B92;
    border-width: 50%;
    padding: 1%;
    padding-left: 4%;
    padding-right: 4%;
    margin-top: 15%;
    margin-bottom: 10%;
    font-size: 120%;
    display: inline-block;
    z-index: 0;
    color: #ee6565;
    transform: translate(104%,-160%);
   
}

#add {
    width: 10%;
    z-index: -1;
    font-size: 400%;
    transform: translate(-15%,37%);
    background-color: #d6250e;
}
#add:hover {
    background-color: #e93922;
    padding-right: 7%;
    transform: translate(-25%,37%);
    width: 15%;
}

.fertig {
    width: 10%;
    z-index: -1;
    font-size: 400%;
    transform: translate(-15%,37%);
    background-color: #226422;
}
.fertig:hover {
    background-color: #028d02;
    padding-right: 7%;
    transform: translate(-25%,37%);
    width: 15%;
}




@media only screen and (max-height:900px){
    body{
        font-size: 80%;
       
    }
}

@media only screen and (max-height:750px){
    body{
        color: green;
    }
    .notiz{
        width: 3cqh;
        height: 90%;
    }
    #vorhandentitel{
        font-size: 250%;
        margin: 1%;
    }
    .vorhanden-liste{
        margin: 1%;
    }
    .auswahl-liste{
        padding: 1%;
    }
    #linkküche{
        top: 80px;
    }
    #küchetitel{
        font-size: 250%;
    }
    .küche-liste{
        margin: 2%;
        padding: 1%;
    }
}
@media only screen and (max-height: 650px){
    body{
        font-size: 70%;
        color: purple;
    }
    .notiz{
        width: 30%;
        height: 90%;
    }
    .vorhanden-liste{
        margin: 0%;
        padding: 2%;
    }
    .notiztext{
        padding: 0.5%;
    }
    .notizliste{
        width: 50%;
        left: 25%;
    }
}

@media only screen and (max-width: 1300px){
    body{
        font-size: 90%;
        color: red;
    }
    .notiz{
        width: 50%;
        height: 90%;
    }
    #vorhandentitel{
        font-size: 250%;
    }
}

@media only screen and (max-width:1200px){
    .zubereitungbox{
        left: 0%;
        width: 120%;
    }
    .fertig{
        height: 16%;
    }
}
